body {
  background: url(../img/bg.jpg);
  background-size: cover;
}

.navbar {
  margin: 0px;
  background-color: #85681bea;
  border: none;
}

.logo {
  margin: 16px 0px 0px 0px;
  max-width: 240px;
  max-height: 78px;
}

.navbar-nav {
  float: right;
}

.navbar-nav>li>a {
  text-align: center;
  padding: 25px 26px 25px 26px;
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  padding: 25px 26px 25px 26px;
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>.active>a {
  color: #fff;
  background-color: #fa7508;
}

.flexslider {
  width: 700px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 0px;
}

.flexslider_wrapper {
  padding-top: 100px;
}