/* 侧边栏 */

.sidebar {
    float: left;
    /*侧边栏半透明*/
    background-color: #fff;
    /*侧边栏半透明*/
    opacity: 0.5;
    position: fixed;
}

/* 内容框 */

.content_wrapper {
    padding-left: 50px;
    padding-right: 50px;
}

.content {
    margin: -80px 168px -100px 168px;
    background-color: rgba(0, 0, 0, 0.493);
    /* box-shadow: 5px 5px 5px #888888; */
}

/* 边框 */

.content_border {
    float: right;
    width: 1130px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

.content_border_top {
    float: left;
    width: 1130px;
    height: 59px;
    background: url(../img/bg_border_top.png) center center no-repeat;
    background-size: 1130px 59px;
}

.content_border_left {
    float: left;
    width: 1130px;
    background: url(../img/bg_border_left.png) left top repeat-y;
    background-size: 84px 100px;
}

.content_border_right {
    float: left;
    width: 1130px;
    background: url(../img/bg_border_right.png) right top repeat-y;
    background-size: 84px 100px;
}

.content_border_foot {
    float: left;
    width: 1130px;
    height: 59px;
    background: url(../img/bg_border_foot.png) center center no-repeat;
    background-size: 1130px 59px;
}
