body {
  background: url(../img/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.logo {
  margin: 7px 0px 0px 0px;
  max-width: 240px;
  max-height: 78px;
}

/* 导航栏 */

.navbar, .dropdown-menu {
  margin: 0px;
  background-color: #85681bea;
  border: none;
}

.navbar-nav {
  float: right;
}

.navbar-nav>li>a {
  text-align: center;
  padding: 25px 26px 25px 26px;
  color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
  padding: 25px 26px 25px 26px;
  color: #ffffff;
}

.dropdown-menu>li>a {
  color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>.active>a {
  color: #ffffff;
  background-color: #fa7508;
}

/* 首页幻灯片 */

.flexslider {
  width: 700px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 0px;
}

.flexslider_wrapper {
  padding-top: 100px;
}

/*游戏介绍表格背景*/
table.imagetable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.imagetable th {
	background:#b5cfd2 url('cell-blue.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
table.imagetable td {
	background:#dcddc0 url('cell-grey.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}