/* 侧边栏 */
.sidebar {
    float: left;
    background-color: white;
    position: fixed;
}

/* 内容框 */
.content_wrapper {
    padding-left: 50px;
    padding-right: 50px;
}
.content {
    margin: -20px 84px -10px 84px;
    background-color: #FBF2DB;
    /* box-shadow: 5px 5px 5px #888888; */
}

/* 边框 */

.content_border {
    float: right;
    width: 1130px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

.content_border_top {
    float: left;
    width: 1130px;
    height: 59px;
    background: url(../img/bg_border_top.png) center center no-repeat;
    background-size: 1130px 59px;
}

.content_border_left {
    float: left;
    width: 1130px;
    background: url(../img/bg_border_left.png) left top repeat-y;
    background-size: 84px 100px;
}

.content_border_right {
    float: left;
    width: 1130px;
    background: url(../img/bg_border_right.png) right top repeat-y;
    background-size: 84px 100px;
}

.content_border_foot {
    float: left;
    width: 1130px;
    height: 59px;
    background: url(../img/bg_border_foot.png) center center no-repeat;
    background-size: 1130px 59px;
}

/*表格边框*/
table.bovertable {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color:#333333;
    border-width: 1px;
    border-collapse: collapse;
}

table.hovertable th{
    background-color: #c3dde0;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}

table.hovertable tr {
    background-color: #d4e3e5;
}

table.hovertable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}